<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Test_ImageUploader::images_uploader" title="Image Uploader" translate="title" 
          module="Test_ImageUploader" sortOrder="20" resource="Test_ImageUploader::upload" />
        <add id="Test_ImageUploader::images" title="All Images" translate="title" 
          module="Test_ImageUploader" sortOrder="0" parent="Test_ImageUploader::images_uploader"
          action="imageuploader/images" resource="Test_ImageUploader::upload" />
    </menu>
</config>